/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
}

body {
	/* Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
	color: inherit;
	font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* Scroll smooth */
html:focus-within {
	scroll-behavior: smooth;
}

body,
html {
	min-height: 100svh;
	-webkit-tap-highlight-color: transparent;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

iframe {
	border: none;
}

/* Disable any animation if prefer reduced motion */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		scroll-behavior: auto !important;
		transition: none;
		transition-duration: 0.01ms !important;
	}
}
